<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{includes/layout::base(~{::title}, ~{::headEtc}, ~{::location}, ~{::content})}">
<head>
    <meta charset="UTF-8">
    <!-- 현재 페이지의 타이틀 입력 -->
    <title th:fragment="title">우리동소식 | 우리동소식 | 영등포본동 주민센터</title>

    <!-- 현재 페이지에만 사용하는 추가 head 정보 | css, js 등 -->
    <th:block th:fragment="headEtc">
    <script>const MENU_ID = 'BA';</script>
    </th:block>

</head>
<body>

    <!-- 현재 페이지 로케이션 정보 | 2depth - 3depth 만 표시 | 1depth 는 layout 페이지에 고정 -->
    <!-- location fragment -->
    <th:block th:fragment="location">
                        <div class="location-text">
                            <a th:href="@{/news/dongnews}">우리동소식</a>
                        </div>
                        <div class="location-next">></div>
                        <div class="location-text last">
                            <a th:href="@{/news/dongnews}">우리동소식</a>
                        </div>
    </th:block>
    <!-- //location fragment -->

    <!-- 현재 페이지 내용 | main 태그 내부 -->
    <!-- main -->
            <main th:fragment="content">
                <!-- contents -->
                <div id="contents" class="contents-board-list dong-news-list inner">
                    <div class="board-search">
                        <form th:action="@{/news/dongnews}">
                            <fieldset>
                                <legend class="blind">게시물검색</legend>
                                <div class="search-group">
                                    <label for="searchType" class="blind">검색항목 선택</label>
                                    <select name="searchType" id="searchType" title="검색항목선택" class="input">
                                        <option value="T" th:selected="${cri.searchType == 'T' || cri.searchType == null}">제목</option>
                                        <option value="C" th:selected="${cri.searchType == 'C'}">내용</option>
                                    </select>
                                    <label for="keyword" class="blind">검색어 입력</label>
                                    <input type="text" name="keyword" id="keyword" class="input input-form" th:value="${cri.keyword}">
                                    <input value="검색" type="submit" class="btn btn-list-search">
                                </div>
                            </fieldset>
                        </form>
                    </div>

                    <div class="list-count" th:if="${paging.total > 0}">
                        <span>총 <em th:text="${paging.total}">100</em> 개</span>
                        <span>[ <b th:text="${cri.pageNum}">1</b> / [[${paging.realEnd}]] 페이지]</span>
                    </div>
                    <table class="table table-board">
                        <colgroup>
                            <col class="col1">
                            <col class="col2">
                            <col class="col3">
                            <col class="col4">
                            <col class="col5">
                            <col class="col6">
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col">번호</th>
                                <th scope="col">제목</th>
                                <th scope="col">부서</th>
                                <th scope="col">작성일</th>
                                <th scope="col">조회수</th>
                                <th scope="col">파일</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--/* 데이터 없음 */-->
                            <tr th:if="${paging.total == 0}">
                                <td colspan="6" class="no-data">게시글이 없습니다</td>
                            </tr>
                            <!--/* //데이터 없음 */-->

                            <tr th:each="board, s : ${list}" th:object="${board}">
                                <td th:text="${paging.startNum - s.index}">번호 출력</td>
                                <td class="td-title">
                                    <a th:href="@{/news/dongnewsview(searchType=${cri.searchType}, keyword=${cri.keyword}, amount=${cri.amount}, pageNum=${cri.pageNum}, bno=*{bno})}" th:text="*{boTitle}">제목 출력</a>
                                    <span class="icon new" th:if="*{isNew}">NEW</span>
                                </td>
                                <td th:text="*{deptName}">부서 출력</td>
                                <td>
                                    <time th:datetime="${#dates.format(board.regdate, 'yyyy-MM-dd')}" th:text="${#dates.format(board.regdate, 'yyyy.MM.dd')}">날짜 출력</time>
                                </td>
                                <td th:text="*{hit}">조회수 출력</td>
                                <td>
                                    <th:block th:if="*{!files.isEmpty()}">
                                        <span th:if="*{listFileType == 'zip'}" class="icon zip">다중 파일</span>
                                        <a href="#" title="첨부파일 다운로드" th:if="*{listFileType != 'zip'}">
                                            <span th:class="*{'icon ' + listFileType}">[[*{listFileType}]] 파일 첨부</span>
                                        </a>
                                    </th:block>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="pagination" th:if="${paging.total > 0}">
                        <div class="page-control" th:if="${paging.arrows}">
                            <a th:href="@{/news/dongnews(searchType=${cri.searchType}, keyword=${cri.keyword}, amount=${cri.amount}, pageNum=1)}" class="page-link first" title="처음 페이지로 이동"><span class="blind">처음 페이지</span></a>
                            <a th:href="@{/news/dongnews(searchType=${cri.searchType}, keyword=${cri.keyword}, amount=${cri.amount}, pageNum=${paging.prevPage})}" class="page-link prev" title="이전 10페이지로 이동"><span class="blind">이전 10페이지</span></a>
                        </div>
                        <div class="page-group">
                            <th:block th:each="i : ${#numbers.sequence(paging.startPage, paging.endPage)}">
                                <strong class="page-active" th:if="${i == cri.pageNum}" th:text="${i}">현재페이지숫자</strong>
                                <a th:href="@{/news/dongnews(searchType=${cri.searchType}, keyword=${cri.keyword}, amount=${cri.amount}, pageNum=${i})}" class="page-link" th:if="${i != cri.pageNum}" th:title="${i + '페이지로 이동'}" th:text="${i}">링크페이지숫자</a>
                            </th:block>
                        </div>
                        <div class="page-control" th:if="${paging.arrows}">
                            <a th:href="@{/news/dongnews(searchType=${cri.searchType}, keyword=${cri.keyword}, amount=${cri.amount}, pageNum=${paging.nextPage})}" class="page-link next" title="다음 10페이지로 이동"><span class="blind">다음 10페이지</span></a>
                            <a th:href="@{/news/dongnews(searchType=${cri.searchType}, keyword=${cri.keyword}, amount=${cri.amount}, pageNum=${paging.realEnd})}" class="page-link last" title="마지막 페이지로 이동"><span class="blind">마지막 페이지</span></a>
                        </div>
                    </div>
                </div>
                <!-- //contents -->
            </main>
    <!-- //main -->

</body>
</html>