<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{includes/layout::base(~{::title}, ~{::headEtc}, ~{::location}, ~{::content})}">
<head>
    <meta charset="UTF-8">
    <!-- 현재 페이지의 타이틀 입력 -->
    <title th:fragment="title">우리동소식 | 우리동소식 | 영등포본동 주민센터</title>

    <!-- 현재 페이지에만 사용하는 추가 head 정보 | css, js 등 -->
    <th:block th:fragment="headEtc">
    <script>const MENU_ID = 'BA';</script>
    </th:block>

</head>
<body>

    <!-- 현재 페이지 로케이션 정보 | 2depth - 3depth 만 표시 | 1depth 는 layout 페이지에 고정 -->
    <!-- location fragment -->
    <th:block th:fragment="location">
                        <div class="location-text">
                            <a th:href="@{/news/dongnews}">우리동소식</a>
                        </div>
                        <div class="location-next">></div>
                        <div class="location-text last">
                            <a th:href="@{/news/dongnews}">우리동소식</a>
                        </div>
    </th:block>
    <!-- //location fragment -->

    <!-- 현재 페이지 내용 | main 태그 내부 -->
    <!-- main -->
            <main th:fragment="content">
                <!-- contents -->
                <div id="contents" class="contents-board-view dong-news-view inner">
                    <div class="board-info">
                        <span>조회수</span>
                        <b class="hit" th:text="${board.hit}">조회수 출력</b>
                        <span>작성일</span>
                        <time th:datetime="${#dates.format(board.regdate, 'yyyy-MM-dd')}" th:text="${#dates.format(board.regdate, 'yyyy.MM.dd')}">날짜 출력</time>
                    </div>
                    <table class="table table-form">
                        <colgroup>
                            <col class="col1">
                            <col class="col2">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <strong class="text-title" th:text="${board.boTitle}">제목 출력</strong>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">부서</th>
                                <td th:text="${board.deptName}">부서 출력</td>
                            </tr>
                            <tr>
                                <th scope="row">연락처</th>
                                <td th:text="${board.tel}">010-0000-0000</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="td-content">
                                    <th:block th:if="${!board.files.isEmpty()}">
                                        <div class="img-view" th:each="file : ${board.files}" th:if="${file.fileType == 'png' || file.fileType == 'jpg'}">
                                            <img th:src="|@{/assets/files/}${file.fileName}|" th:alt="${board.boTitle}">
                                        </div>
                                    </th:block>
                                    <div class="text-content" th:text="${board.boContent}">내용 출력</div>
                                </td>
                            </tr>
                            <tr th:if="${!board.files.isEmpty()}">
                                <th scope="row">파일</th>
                                <td>
                                    <ul class="attach-files">
                                        <li th:each="file : ${board.files}">
                                            <a href="#" class="attach-link">
                                                <span th:class="${'icon ' + file.fileType}">[[${file.fileType}]] 파일</span>
                                                <span th:text="${file.fileName}">파일명</span>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="board-btns">
                        <a th:href="@{/news/dongnews(searchType=${cri.searchType}, keyword=${cri.keyword}, amount=${cri.amount}, pageNum=${cri.pageNum})}" class="btn btn-write list">목록</a>
                    </div>

                    <ul class="board-move-post">
                        <li>
                            <b>이전글</b>
                            <div class="link-post">
                                <a href="#">2026년 상반기 청년 일자리사업 참여자 모집 안내</a>
                            </div>
                        </li>
                        <li>
                            <b>다음글</b>
                            <div class="link-post">
                                <a href="#">2026년 상반기 청년 일자리사업 참여자 모집 안내</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- //contents -->
            </main>
    <!-- //main -->

</body>
</html>