<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.ydpb.mapper.DongNewsMapper">

    <sql id="criteria">
        <where>
            <choose>
                <when test="searchType == 'T'.toString()">
                    ds_title like '%'||#{keyword}||'%'
                </when>
                <when test="searchType == 'C'.toString()">
                    ds_content like '%'||#{keyword}||'%'
                </when>
            </choose>
        </where>
    </sql>

    <select id="getTotalCount" resultType="int">
        select count(*)
        from tbl_dongnews
        <include refid="criteria" />
    </select>

    <select id="getList" resultType="com.company.ydpb.domain.DongNewsVo">
        select ds_no, ds_title, ds_content, ds_depart, ds_hit, ds_files, ds_regdate
        from (
                 select ds_no, ds_title, ds_content, ds_depart, ds_hit, ds_files, ds_regdate,
                        row_number() over (order by ds_no desc) as rn
                 from /*+ INDEX_DESC(tbl_dongnews SYS_C007141) */
                     tbl_dongnews
                <include refid="criteria" />
             )
        where rn between (#{pageNum} - 1) * #{amount} + 1 and #{pageNum} * #{amount}
    </select>

    <update id="updateCount">
        update tbl_dongnews set ds_hit = ds_hit + 1 where ds_no = #{dsNo}
    </update>

    <select id="get" resultType="com.company.ydpb.domain.DongNewsVo">
        select * from tbl_dongnews where ds_no = #{dsNo}
    </select>
</mapper>