<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.ydpb.mapper.MemberMapper">
    <select id="getList" resultType="com.company.ydpb.domain.MemberVo">
        <![CDATA[
        select mem_id, mem_name, birth, gender, tel, mobile, email, regdate
        from (
                 select mem_id, mem_name, birth, gender, tel, mobile, email, regdate,
                        row_number() over (order by regdate desc) as rn
                 from /*+ INDEX_DESC(tbl_member idx_member_regdate) */
                     tbl_member
             )
        where rn between (1 - 1) * 10 + 1 and 1 * 10
        ]]>
    </select>
</mapper>